fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.8.2

streamlit==1.37.1
pandas==2.2.2
numpy==2.0.1

sentence-transformers==3.0.1
scikit-learn==1.5.1

hdbscan==0.8.38.post1

tiktoken==0.7.0

python-dotenv==1.0.1
requests==2.32.3

